RewriteEngine On
Options All -Indexes

#prevenir acceso al archivo .htaccess
<files .htaccess>
order allow,deny
deny from all
</files>

# camuflar archivos PHP como NAS, se puede ocultar la versión 
#de php también, etc.
AddType application/x-httpd-php .nas

#URL amigable con un solo parametro
RewriteRule ^([0-9a-zA-Z-_@./]+)$ index.php?route=$1 [QSA]
